<section id="manager" class="manager-section">
    <h2>whoami</h2>
    <p><strong>Владимир Юсупов</strong> — эксперт с более чем 15-летним опытом в индустрии. Быстро погружается в предметную область (домен) и переводит 
        сложные бизнес-задачи в надежную техническую архитектуру.</p>
    <p>Автор практического руководства по созданию хранилищ данных на open source: 
       <a href="https://dwh-book.ru/" target="_blank">dwh-book.ru</a>.
    </p>
    <p>Автор и ведущий подкаста о техкоммуникации для инженеров и техписателей: 
        <a href="https://techcommpod.ru/" target="_blank">TechCommPod</a>.
    </p>
    <p>Организатор и модератор митапа по техкоммуникации: 
        <a href="https://techcommpod.ru/meetup/" target="_blank">TechCommPod Online Meetup</a>.
    </p>
  </section>