<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Услуги</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="large text-muted">Лаборатория Data Solutions Lab специализируется на решении задач в области данных и помогает компаниям всех отраслей в разработке платформ данных, визуализации и аналитике.</p>
                    <p class="large text-muted">Наша миссия - помочь компаниям максимально эффективно использовать имеющийся у них потенциал и предоставить возможность принимать тактические и стратегические управленческие решения на основе данных. </p>
                </div>
            </div>    
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Интеграция</h4>
                    <p class="text-muted">Перестаньте тратить время на сбор и анализ данных из различных источников. Давайте объединим всю необходимую информацию и сэкономим Ваше время.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Хранение</h4>
                    <p class="text-muted">Прекратите решать проблему нехватки места только за счёт расширения памяти. Давайте спроектируем эффективную платформу для хранения данных.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Аналитика</h4>
                    <p class="text-muted">Не довольствуйтесь просто дашбордами и отчётами. Давайте сделаем так, чтобы данные стали основой для принятия следующего решения.</p>
                </div>
            </div>
        </div>
    </section>