<!-- Team Section -->
    <!-- <section id="team" class="bg-light-gray"> -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Команда</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="large text-muted">Команда лаборатории состоит из квалифицированных специалистов в сфере разработки хранилищ данных, отчётности и аналитики. За годы работы в отрасли каждый из специалистов привнёс в лабораторию свой уникальный опыт решения различных проблем. Независимо от того, насколько велика или мала проблема, подходящее решение всегда есть. </p>
                    <p class="large text-muted">Ваши проблемы и задачи тоже имеют решение! Обратитесь к нам и сами в этом убедитесь.</p>
                    <p class="large text-muted" style="margin-bottom: 60px;">За качество всех выполняемых работ отвечает лично руководитель лаборатории.</p>
                 </div>
            </div>  
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div> -->
        </div>
    </section>